#Title {
  width: 1178px;
  height: 143px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 57px;
}

#Title h1 {
  width: 970px;
  color: #333;
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

#Title img {
  position: absolute;
  animation: rotateAnimation 20s infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#circle {
  position: relative;
  width: 48px;
  height: 47px;
  margin-right: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#circle h1 {
  color: #333;
  font-family: Roboto;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  #Title {
    width: 980px;
    height: auto;
  }

  #Title h1 {
    width: 800px;
    margin: 0;
  }

  #circle {
    margin-right: 50px;
  }
}
