#main {
  width: 1178px;
  height: 453px;
  margin-top: 99px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

#LeftMain {
  width: 603px;
  height: 453px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#LeftMainImgs {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#LeftMain p {
  width: 603px;
  height: 40px;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}

#LeftMain button {
  margin-top: 35px;
  width: 180px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  background: transparent;
  border: none;

  color: #333;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  #main {
    width: 980px;
    height: auto;
    margin-top: 70px;
  }

  #LeftMain {
    overflow: hidden;
    width: 400px;
  }

  #LeftMain #Img1 {
    width: 350px;
  }

  #LeftMain #Img2 {
    display: none;
  }

  #LeftMain p {
    width: 90%;
    height: auto;
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  #main {
    width: 690px;
    height: auto;
    margin-top: 40px;
  }

  #main #ImgMain {
    width: 400px;
  }

  #LeftMain {
    width: 290px;
    height: auto;
  }

  #LeftMainImgs {
    align-items: center;
    justify-content: center;
  }

  #LeftMain #Img1 {
    width: 280px;
  }

  #LeftMain #Img2 {
    display: none;
  }

  #LeftMain p {
    width: 90%;
    margin: 0 0 8px 10px;
    text-align: left;
    height: auto;
  }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
  #main {
    width: 500px;
    height: auto;
    margin-top: 40px;
    flex-direction: column;
  }

  #main #ImgMain {
    width: 500px;
  }

  #LeftMain {
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 30px;
  }

  #LeftMainImgs {
    align-items: center;
    justify-content: center;
  }

  #LeftMain #Img1 {
    width: 350px;
  }

  #LeftMain #Img2 {
    display: none;
  }

  #LeftMain p {
    width: 90%;
    margin: 0 0 15px 0;
    text-align: center;
    height: auto;
  }
}
